:root {
  // primary colors
  --color-subscriptions: #2D2653
  --color-subtitle-attention-modal: #423F72
  --color-prymary: #433491
  --color-interlocutors-reply: #5A576A
  --color-secondary: #625B85
  --color-dialog-header: #6B718B
  --color-third: #AB9CC5

  // other colors
  --color-black: #000000
  --color-illustration-background: #120E18
  --color-blocks: #17151B
  --color-companion-background: #19182B
  --color-contextmenu-background-hover: #343039
  --color-dropdown-block: #302C36
  --color-dialog-timestamp: #43434F
  --color-embed-arrow: #646464
  --color-gray: #898181
  --color-msg-timestamp: #BEBEC1
  --color-white: #FFFFFF
  --color-attention: #BD473B
  --color-online: #4CE087
  --color-chat-hover: linear-gradient(90deg, rgba(18, 14, 24, 0.1) 0%, rgba(255, 255, 255, 0.1) 206.86%)

  // blocks
  --input-placeholder-padding: 18px 20px
  --checkbox-border-radius: 7px
  --border-radius-small: 3px
  --border-radius-medium: 5px
  --border-radius-large: 10px

  --chat-avatar-width-medium: 50px
  --chat-avatar-height-medium: 50px
  --chat-avatar-width-large: 60px
  --chat-avatar-height-large: 60px
  --chat-max-width: 280px
  --chat-max-height: 50px

  --contextmenu-width: 200px
  --contextmenu-padding: 16px 0
  --contextmenu-drop-shadow: 0px 2px 6px rgba(148, 148, 148, 0.09)

  --msg-max-width: 308px
  --msg-padding: 10px

  --user-info-max-width: 300px

  // fonts
  --font-input: "Roboto", sans-serif
  --font-primary: "Radio Canada", sans-serif
  --font-secondary: "Arial", sans-serif

  // font sizes
  --font-size-least: 12px
  --font-size-small: 20px
  --font-size-medium: 15px
  --font-size-large: 40px
}